includes:
	- vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	level: 9
	paths:
		- dummy-src

rules:
    #- Nagmat84\PhpStan\Rules\ReportAllNodesRule
    - Nagmat84\PhpStan\Rules\NoWeakComparisonRule
    - Nagmat84\PhpStan\Rules\NoBooleanCastRule
    - Nagmat84\PhpStan\Rules\NoBooleanConversionRule
